<div class="panel panel-primary">
  <div class="panel-heading"><%= @event.name %></div>

  <div class="panel-body">

    <p>Event Name: <%= @event.name %></p>
    <p>Host: <%= @event.user.email %></p>
  </div>
</div>

<%= link_to "Back", events_path, class: "btn btn-default" %>
