<div class="container">
  <h2 class="text-center well">Welcome to Codaisseurup</h2>

  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">

          <img src="https://sites.google.com/a/usd269.net/rooster-nation/_/rsrc/1448462652962/come-with-us/come-play-with-us/COME%20LEARN%20WITH%20US.jpg" alt="Codaisseurup" style="width:100%">


      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">

          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjLx505qIj8lNg01r5FnMrKvh2u3rK1K8WV77Fb9kFm1xXqapv" alt="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjLx505qIj8lNg01r5FnMrKvh2u3rK1K8WV77Fb9kFm1xXqapv" style="width:100%">


      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">

          <img src="http://under30ceo.com/wp-content/uploads/2013/04/How-to-Host-a-Successful-Meetup-300x187.jpg" alt="Codaisseurup" style="width:100%">

      </div>
    </div>
  </div>
</div>

</body>
</html>
